/* about section  */
.circleBlurR{
  width: 423px;
  height: 423px;
  background-color: #00FFFF80;
  border-radius: 50%;
  position: absolute;
  right: -150px;
  top: -150px;
  filter: blur(200px);
}
.circleBlurL{
  width: 423px;
  height: 423px;
  background-color: #8A2BE2;
  border-radius: 50%;
  position: absolute;
  left: -150px;
  top: -250px;
  filter: blur(200px);
}
.circleBlurLF{
  width: 423px;
  height: 423px;
  background-color: #8A2BE2;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  bottom: -50px;
  filter: blur(200px);
}